body {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 27px 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.header-content-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  font-size: 1.35rem;
  font-weight: 500;
}

nav {
  display: flex;
  gap: 35px;
}

nav p {
  color: rgb(109, 109, 109);
}

nav p:hover {
  color: rgb(63, 63, 63);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home,
#generate,
#upload,
#about {
  margin: 100px 0px 30px 0px;
}
